/*div {
    background-color: whitesmoke;
    float: left;
}*/

#bloc {
    background-color: whitesmoke;
    height: 1000px;
    float: left;
}

#main {
    width: 100%;
}

#bandeauGris {
    background-color: rgb(107, 107, 107);
    width: 15px;
    height: 1000px;
    float: left;
}

.section{
    background-color: rgb(75, 80, 94);
    width: 300px;
    height: 1000px;
    float: left;
}

.name {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(56, 78, 104)
}

.dyslexicFont {
    font-family: OpenDyslexic;
}

@font-face {
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 400;
    src: local('Bahnschrift'), url('https://fonts.cdnfonts.com/s/21353/BAHNSCHRIFT 1.woff') format('woff');
}

@font-face {
    font-family: 'OpenDyslexic';
    font-style: normal;
    font-weight: 400;
    src: local('OpenDyslexic'), url('https://fonts.cdnfonts.com/s/19808/OpenDyslexic-Regular.woff') format('woff');
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h5 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.title {
    color: aliceblue;
    font-size: 30px;
}

.Contact {
    color:aliceblue;
    font-size: 15px;
}

.Diplomas {
    color:aliceblue;
    font-size: 12px;
}

.Skills {
    color:aliceblue;
    font-size: 15px;
}

#subtitle {
    color:rgb(59, 59, 59);
    font-size: 20px;
}

#paragraph{
    float:left;
}